.newArticle {
  margin-top: 50px;
}

.title {
  color: #000000;
  margin-bottom: 20px;
}

.submitBtn {
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #0f559b !important;
}

@media (max-width: 768px) {
  .newArticle {
    padding: 15px 5px 0 5px !important;
  }
}