.container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  margin-top: 20px;
}

.thead {
  background-color: #eceeef;
}

.thead th {
  background-color: #eceeef;
  color: #55595c;
}

.table th,
.table td {
  vertical-align: middle;
}

.table td {
  color: #555;
}

.tableLayout {
  display: block;
}

.cardLayout {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding-left: 1.5rem !important;
  }
}
@media (max-width: 768px) {
  .tableLayout {
    display: none;
  }

  .cardLayout {
    display: flex;
    flex-direction: column;
  }
}
