:root {
  --text-gray: #373a3c;
  --pinkish-grey: #e7cecd;
  --light-grey-green: #d5e6c7;
  --military-green: #4b713d;
  --text-cyan: #0dcaf0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-gray {
  color: var(--text-gray) !important;
}

.text-cyan {
  color: var(--text-cyan);
}
